*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    background-color: aqua;
    color: white;
    height:100px ;
    width: 100px;
    border: 1px solid grey;
    margin: 10px 0px;
    animation-name: animation-phani;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.box-1{
    animation-timing-function: ease;
    background-color: blueviolet;
}
.box-2{
    animation-timing-function: ease-in;
    background-color: rgb(69, 233, 151);
}
.box-3{
    animation-timing-function: ease-out;
    background-color: rgb(236, 145, 91);
}
.box-4{
    animation-timing-function: linear;
    background-color: rgb(230, 71, 182);
}
.box-5{
    animation-timing-function: ease-in-out;
    background-color: rgb(18, 243, 100);
}
@keyframes animation-phani{
    from{
       width:100px;

    }
    to{
      width:500px;  
    }
}